body{
	background-image: url("../images/whirlpool.png");
}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
}

ul {
	list-style-type: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
}

li {
	float: left;
	padding: 0px 10px 0px 10px;
	margin-top: 15px;
}

a {
	color: #777777;
	text-decoration: none;
}

.header {
	width: 100%;
	height: 90px;
	border-bottom: 2px solid #cccccc;
	background: #ffffff;
}

.headtext {
	margin: 0 auto;
	/*width: 960px;*/
	width: 70%;
	height: 100%;
}

.name {
	height: 100%;
	float: left;
	background: #63a7a4;
	color: #ffffff;
	padding: 0px 30px 0px 30px;
}

.nav {
	float: right;
}

.lilines {
	border-right: 1px solid #cccccc;
}

.content {
	width: 70%;
	margin: 0 auto;
	position: relative;
	margin-top: 4%;
	margin-bottom: 4%;
}

.about {
	width: 55%;
	padding: 2%;
	background: #ffffff;
	border: 1px solid #cccccc;
}

#aboutline {
	color: #63a7a4;
	padding-bottom: 2%;
	border-bottom: 3px solid #cccccc;
}

.headshot {
	width: 200px;
	height: 200px;
	margin-right: 3%;
	float: left;
}

.doublespace {
	line-height: 200%;
}

.connect {
	width: 30%;
	padding: 2%;
	position: absolute;
	text-align: center;
	right: 0;
	top: 0;
	background: #ffffff;
	border: 1px solid #cccccc;
}

#connectline {
	color: #63a7a4;
	padding-bottom: 2%;
	border-bottom: 2px solid #cccccc;
}

.footer {
	/* total height should be 90px */
	width: 100%;
	height: 50px;
	padding: 20px 0px 20px 0px;
	text-align: center;
	border-top: 8px solid #63a7a4;
	background: #666666;
}

#foottext {
	font-size: 12px;
	color: #cccccc;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.textarea {
	/* total width should be 590px */
	height: 24px;
	width: 95%;
	padding: 5px 8px 5px 8px;
}

.message {
	height: 200px;
	width: 98%;
	border: 1px solid #cccccc;
}

.button {
	background: #63a7a4;
	width: 100px;
	height: 40px;
	color: #ffffff;
	font-size: 14px;
	border-radius: 0px;
}

.portpic {
	width: 100%;
	height: 100%;
}

.picdiv {
	width: 46%;
	height: 100%;
	margin: 2%;
	background: #cccccc;
	position: relative;
}

.picright {
	float: right;
}

.picleft {
	float: left;
}

.pictext {
	margin: 0px;
	position: absolute;
	bottom: 5%;
	width: 100%;
	padding: 15px 0px 15px 0px;
	background: #63a7a4;
	color: #ffffff;
	z-index: 2;
	text-align: center;
}

@media screen and (max-width: 980px) {

.headtext {
	width: 80%;
}

.content {
	width: 80%;
}
	
.headshot {
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

.about {
	width: 55%;
}

.connect {
	width: 30%;
}

.picright {
	float: none;
}

.picleft {
	float: none;
}

.picdiv {
	width: 95%;
	height: 100%;
	margin-bottom: 8%;
}

.portpic {
	width: 100%;
	height: 100%;
}

}

@media screen and (max-width: 768px) {

.headtext {
	width: 95%;
}

.content {
	float: none;
	width: 95%;
}

.about {
	float: none;
	margin-bottom: 30px;
	width: 96%;
}

.headshot {
	width: 50%;
	height: 50%;
}

.connect {
	float: none;
	width: 96%;
	text-align: left;
	position: static;
}

.icon {
	margin: 5px;
}

.picright {
	float: right;
}

.picleft {
	float: left;
}

.picdiv {
	width: 45%;
	margin-bottom: 3%;
}

.portpic {

}

}

@media screen and (max-width: 640px) {

.header {
	height: 100%;
	/*overflow: auto;*/
}

.headtext {
	width: 100%;
	text-align: center;
}

.name {
	float: none;
	padding: 5px;
}

.nav {
	float: none;
	padding: 5px;
	text-align: left;
	overflow: auto;
}

ul {
	overflow: auto;
}

li {
	width: 28%;
	margin: 0px;
	text-align: center;
}

.content {
	width: 95%;
}

.headshot {
	width: 100%;
	height: 100%;
}

.picright {
	float: none;
}

.picleft {
	float: none;
}

.picdiv {
	width: 95%;
	height: 100%;
	margin-bottom: 8%;
}

.portpic {
	width: 100%;
	height: 100%;
}

}

